@import 'flexgrid';


//Fonts
@font-face {
  font-family: "Cursive";
  src: url(../fonts/Vellesa.otf);
  font-stretch: semi-expanded;
}

@font-face {
  font-family: "Print";
  src: url(../fonts/SalinasDemo-Regular.otf);
}


//Colors
$black: #313628;
$cream: #F7F4F3;
$white: #FFF;
$purple: #7D5484;
$pink: #F7B2AD;



//Body styles
body {
  margin: 0;
  color: $black;
  background-color: $cream;
  font-family: "Print";
}

//Headline settings
h1, h2, h3, h4 {
  font-family: "Cursive", sans-serif;
  margin-top: 1em;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
  margin-top: 0;
}

h3 {
  font-size: 1.5em;
}

// hero section
.hero {
  &__image {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 26em;

    img {
      width: 50%;
      position: absolute;
      bottom: 3em;
      text-align: center;
      left: 25%;
    }

    &--footer{
      background-image: url('../images/footer.jpg');
    }

    @media screen and (min-height: 24em) {
      min-height: 80vh;
    }

    @media screen and (min-height: 64em) {
      min-height: 42em;
    }
  }

  &__title {
    text-align: center;
    position: absolute;
    bottom: 1em;
    margin: auto;
    width: 100%;
    color: $white;

    &--footer {
      top: 1em;
      color: $purple;
    }
  }
}

// Our story section
.story {
  padding: 3em 0;

  &__header {
    text-align: center;
  }

  &__body {
    text-align: center;
  }
}

// Photos section
.photos {
  max-width: 100%;
  overflow: hidden;

  &__photo {
    padding: 0;

    img {
      width: 100%;
      display: inline;
      height: auto;
    }
  }
}

//Countdown section
.countdown{
  padding: 3em 0;

  &__box {
    background-color: $pink;
    color: $white;
    text-align: center;
    display: inline-block;
    border: 5px solid $white;
    min-width: 90%;
    margin: .5em 0;
  }

  &__value {
    font-family: "Print";
    margin-top: 1.5em;
  }
}

// Bridal party section

.party {
  padding: 3em 0;
  background-color: $white;

  &__names {
    font-size: 1.3em;
    text-align: right;
    border-right: 1px solid;
    padding-right: 1em;

    p {
      margin: .2em 0;
    }
  }

  &__relation {
    font-size: 1.3em;
    text-align: left;

    p {
      margin: .2em 0;
    }
  }

}

// Plans section
.plans {
  padding: 3em 0;

  &__container {
    position: relative;
  }

  &__section {
    background-color: $white;
    text-align: center;
    border: 5px double $pink;
    margin: 1em auto;
    padding: 1em;
    width: 80%;

    &--first {
      position: absolute;
      top: 0;
      bottom: 0;
    }

    & img {
      width: 75px;
      height: 75px;
    }
  }

}
